body {
  background: var(--background);
}

.check-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;

  .confirmation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .half-section {
      flex: 1;

      &:first-child {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .options-container {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      border: 1px solid #0ce49c;
      font-weight: bolder;
      cursor: pointer;
      transition: background-color 200ms;
      border-radius: 0.25rem;
      box-sizing: border-box;
      flex: 1;
      margin: 1rem;

      &:hover {
        background: #0ce49c;
        color: white;
      }

      &:active {
        background: #0cd390;
      }
    }
  }
}
