@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");

html {
  height: 100%;
  font-size: 16px;
  color: #000000c5;
  background: #ededed;

  --background: #fafafa;
  --accent: #0cd390;

  --shadow: rgba(0, 0, 0, 0.1);
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0.5rem 0;
  color: var(--accent);
}

h2 {
  font-size: 1.125rem;
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: underline;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: inherit;
  margin: inherit;

  &.disabled {
    color: #aaa;
    cursor: default;
  }

  @extend a;
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    vertical-align: middle;
    border: 1px solid black;
  }
}

small {
  font-size: 0.75em;
  font-weight: bold;
}

.translucent {
  opacity: 25%;
}

.accent {
  color: var(--accent);
}

span.interpunct {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  background: currentColor;
  margin: 0 0.5rem 0.125rem 0.5rem;
  border-radius: 50%;
  opacity: 50%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.tag {
  @extend small;
  display: inline-block;
  color: var(--background);
  background: var(--accent);
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;

  &.ghost {
    color: var(--accent);
    border: 1px solid var(--accent);
    background: none;
  }
}

.card {
  background: var(--background);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.75rem 0 var(--shadow);
}
