@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");

html {
  height: 100%;
  font-size: 16px;
  color: var(--font);
  background: var(--background);

  --background: #fafafa;
  --font: #636363;
  --accent: #0cd390;
  --warning: #ff9800;
  --subtle: #b0bec5;
  --disabled: #aaa;
  --highlight: #b0bec515;

  --shadow: #0000001a;
  --border: #0000001a;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
  color: var(--accent);
}

h2 {
  margin: 1rem 0 0.75rem;
}

h3 {
  @extend .subtle;
  font-size: 0.75rem;
  margin: 0.5rem 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 0;

  button {
    text-decoration: underline;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;

  &.disabled {
    color: var(--disabled);
    cursor: default;
  }
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    vertical-align: middle;
    border: 1px solid black;
  }
}

small {
  font-size: 0.75em;
  font-weight: bold;
}

.subtle {
  color: var(--subtle);
}

.accent {
  color: var(--accent) !important;
}

.warning {
  color: var(--warning) !important;
}

span.interpunct {
  @extend .subtle;
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  background: currentColor;
  margin: 0 0.25rem 0.125rem;
  border-radius: 50%;
  opacity: 60%;
}

span.chevron {
  &::before {
    @extend .subtle;
    opacity: 0.6;
    font-size: 0.5em;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: "";
    display: inline-block;
    height: 0.45em;
    left: 0;
    transform: rotate(45deg);
    position: relative;
    vertical-align: middle;
    width: 0.45em;
    margin: 0.75em;
  }

  &.higher {
    &::before {
      margin-bottom: 1em;
    }
  }
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.tag {
  font-size: 0.75rem;
  display: inline-block;
  color: var(--background);
  background: var(--accent);
  padding: 0.125rem 0.5rem;
  border-radius: 0.75rem;

  &.ghost {
    color: currentColor;
    border: 1px solid currentColor;
    background: none;
  }
}

.card {
  background: var(--background);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.75rem 0 var(--shadow);
}
