@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500&display=swap");

html {
  height: 100%;
  font-size: 16px;
  color: #000000c5;
  background: #fafafa;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: lighter;
}

a {
  color: #0cd390;
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: inherit;
  margin: inherit;

  @extend a;
}

#root {
  width: 100%;
  height: 100%;
}

.check-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;

  .confirmation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .half-section {
      flex: 1;

      &:first-child {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .options-container {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      border: 1px solid #0ce49c;
      font-weight: bolder;
      cursor: pointer;
      transition: background-color 200ms;
      border-radius: 0.25rem;
      box-sizing: border-box;
      flex: 1;
      margin: 1rem;

      &:hover {
        background: #0ce49c;
        color: white;
      }

      &:active {
        background: #0cd390;
      }
    }
  }
}
