.time-travel-slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10vh;

  .slider {
    width: 50vw;
    margin: 2rem;
  }
}
