html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: [time] 50% [lat] 25% [long] 25%;
  gap: 1rem;
  padding: 2rem;

  .datetime {
    grid-column: time;
  }

  .lat {
    grid-column: lat;
  }

  .long {
    grid-column: long;
  }
}
